@import '../../../vars.scss';
  img{
    width: 100%;
    object-fit: contain;
  }

.discord-button{
  border: $spacing-xs/4 solid black;
  &:hover{
    transform: scale(1.05, 1.05);
    transition-timing-function: ease;
    transition: 0.2s;
  }
}
