<div class = "votingLinks">
  <div class = "logoPicture">
    <img src = "Pictures/Logo/TopBlockVoting.png"/>
  </div>
  <a href = "https://www.minevotes.com/vote/360">
    <div class = "addressBox">
      <img src = "http://topblockmc.net/Pictures/VotingPictures/MineVotes.png" class = "mineVotes"/>
    </div>
  </a>
  <a href = "https://www.trackyserver.com/server/topblockmc-174864"> 
    <div class = "addressBox">
      <div class = "trackyLogo">
        <img src = "http://topblockmc.net/Pictures/VotingPictures/TrackyServer.png" height = "60px">
      </div>
      <div class = "TrackyServerLogo">
        TrackyServer.com
      </div> 
    </div> 
  </a> 
  <a href = "https://topg.org/Minecraft/in-501777"> 
    <div class = "addressBox">
      <img src = "http://topblockmc.net/Pictures/VotingPictures/mineCraftBlock.jpg" class = "block">
      <div class = "OgLogo">
        Topg Minecraft
      </div> 
    </div> 
  </a> 
</div>