@import '../../../vars.scss';

.rank-outter{
  margin-top: $spacing-sm;
  @media screen and (min-width: $screen-shrink) {
    margin-top: $spacing-lg;
  }
}
.rank-tile{
  background:rgba(0,0,0,0.8);
  border: $spacing-xs/4 solid black;
  border-radius: $spacing-xs;
  font-family: $aero-font;
  size: 60;
}
.kit{
  background:rgba(0,0,0,0.7);
  border: $spacing-xs/4 solid black;
  border-radius: $spacing-xs;
}

.rank-kit-picture{
  object-fit: contain;
  width: 300px;
  height: 300px;
  border: $spacing-xs/4 solid black;
  border-radius: $spacing-xs;
}
.permissions{
  background:rgba(0,0,0,0.7);
  border: $spacing-xs/4 solid black;
  border-radius: $spacing-xs;
  @media screen and (max-width: $screen-small) {
    margin-top: $spacing-sm;
    margin-bottom: $spacing-sm;
  }
}
.donate-picture{
  width: 180px;
  object-fit: contain;
  &:hover{
    transform: scale(1.05, 1.05);
    transition-timing-function: ease;
    transition: 0.2s;
  }
}
h1{
  font-family: $aero-font;
}
h2{
  font-family: $aero-font;
}
h3{
  font-family: $aero-font;
}
li{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}
.back-button{
  height: 60px;
  font-family: $aero-font;
  font-size: $font-large;
  color: white;
  background:rgba(0,0,0,0.7);
  border: $spacing-xs/4 solid black;
  border-radius: $spacing-xs;
  &:hover{
    transform: scale(1.05, 1.05);
    transition-timing-function: ease;
    transition: 0.2s;
  }
}
