<div class="voting-links w-100 mt-sm" fxLayout="column" fxLayoutAlign="center center">
  <div id="planet-minecraft" class="address-box transparent-box w-100 mb-xs" fxLayout="column" fxLayoutAlign="center center">
      <button mat-button class="w-100">
        <a href="https://www.planetminecraft.com/server/topblock-mc/vote/" rel="noopener noreferrer" target="_blank">
          <h2>Planet Minecraft</h2>
        </a>
      </button>
    </div>
  <div id="minecraft-server-list" class="address-box transparent-box w-100 mb-xs" fxLayout="column" fxLayoutAlign="center center">
    <button mat-button class="w-100">
      <a href="https://minecraft-server-list.com/server/432687/vote/" rel="noopener noreferrer" target="_blank">
        <h2>Minecraft Server List</h2>
      </a>
    </button>
  </div>
  <div id="minecraft-server" class="address-box transparent-box w-100 mb-xs" fxLayout="column" fxLayoutAlign="center center">
    <button mat-button class="w-100">
      <a href="https://minecraftservers.org/vote/558236" rel="noopener noreferrer" target="_blank">
        <h2>Minecraft Servers</h2>
      </a>
    </button>
  </div>
</div>
