<div class="voting-links w-100 mt-sm fade-in-fast" fxLayout="column" fxLayoutAlign="center center">
  <div id="planet-minecraft" class="address-box transparent-box w-100 mb-xs" fxLayout="column" fxLayoutAlign="center center">
    <button mat-button class="w-100">
      <a href="https://www.planetminecraft.com/server/topblock-mc/vote/" rel="noopener noreferrer" target="_blank">
        <h2>Planet Minecraft</h2>
      </a>
    </button>
  </div>
  <div id="minecraft-server" class="address-box transparent-box w-100 mb-xs" fxLayout="column" fxLayoutAlign="center center">
    <button mat-button class="w-100">
      <a href="https://minecraftservers.org/server/582416" rel="noopener noreferrer" target="_blank">
        <h2>Minecraft Servers</h2>
      </a>
    </button>
  </div>
  <div id="minecraft-server-biz" class="address-box transparent-box w-100 mb-xs pt-xs pb-xs" fxLayout="column" fxLayoutAlign="center center">
    <a class="w-100 h-100" href="https://minecraftservers.biz/servers/147176/" target="_blank">
      <div class="w-100" fxLayoutAlign="center center">
        <a href="https://minecraftservers.biz/servers/147176/" target="_blank"><img src="https://minecraftservers.biz/vote2.gif" width="88" height="53" border="0"></a>
      </div>
    </a>
  </div>
</div>
