@import '../../../vars.scss';

.address-box{
  max-width: 400px;
  &:hover{
    transform: scale(1.05, 1.05);
    transition-timing-function: ease;
    transition: 0.2s;
  }
}
h1{
  font-family: $aero-font;
  color: white;
}
h2{
  font-family: $aero-font;
}
a{
  text-decoration: none;
}
#planet-minecraft{
  h2{
    color: #49c431;
  }
}
#minecraft-server-list{
  h2{
    color: #ec3131;
  }
}
#minecraft-server{
  h2{
    color:#285fd0;
  }
}
