@import '../../../vars.scss';

.menu-spacer {
  flex: 1 1 auto;
}
.top-nav{
  background-color: rgba(50, 50, 50, .5);
  border-radius: $spacing-xs;
  border: $spacing-xs/4 solid black;
}
.mobile-links{
  display: none;
}
.links{
  display: block;
}
.mobile-menu{
  display: none !important;
}
@media screen and (max-width: $screen-small){
  .links{
    display: none;
  }
  .mobile-links{
    display: block;
  }
  .mobile-menu{
    display: block !important;
  }
}
.mobile-menu{
  position: absolute;
  height: calc(100vh - 150px);
  background-color: #cfc;
  border-color: #696;
  opacity: 0.7;
  z-index: 99;
  button{
    height: $spacing-lg;
  }
}
.outter{
  position: relative;
}
