<div>
  <ul>
    <li routerLink = "/" [ngClass]="{ 'active': activePage === 'Home' }">Home</li>
    <li routerLink = "/ranks" [ngClass]="{ 'active': activePage === 'Ranks' }">Ranks</li>
    <li routerLink = "/discord" [ngClass]="{ 'active': activePage === 'Discord' }" >Discord</li>
    <li routerLink = "/votinglinks" [ngClass]="{ 'active': activePage === 'VotingLinks' }">Voting Links</li>
    <li routerLink = "/leaderboards" [ngClass]="{ 'active': activePage === 'LeaderBoards' }">Leader Boards</li>
  </ul>
</div>