@import'../../../vars.scss';

.outerbox{
  border: 4px solid black;
  border-radius: 10px;
  background:rgba(0,0,0,0.5);
  color : white;
  .header{
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .news_text{
    border-radius: 10px;
    border: 4px solid black;
  }
}

.poster{
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: red;
  font-weight: bold;
  img {
    padding-left: -10px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 50px;
  }
  @media screen and (min-width: $screen-small){
    margin-bottom: -$spacing-sm;
  }
}
