<div class="news-box transparent-box-light p-sm mt-sm mb-sm fade-in-fast" fxLayout="column" fxLayoutAlign="start center">
  <div class="poster w-100" fxLayout="row" fxLayoutAlign="start center">
    <img src="http://visage.surgeplay.com/head/75/{{ uuid }}.png"  alt="{{ post?.name }} Minecraft head" title="{{ post?.name }} Minecraft head">
    <h3 class="name ml-xs">{{ name }}</h3>
  </div>
  <h2 class="m-0 mb-xs">{{ title }}</h2>
  <h3 class="m-0 mb-xs">Date: {{ date }}</h3>
  <div class="news-text w-100 transparent-box-light p-xs">
    <p>{{ news }}</p>
  </div>
</div>

