@import'../../../vars.scss';

img {
  padding-left: -10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 50px;
}
.news-box{
  color: white;
}
.poster{
  margin-bottom: -$spacing-xs;
}
.news-text{
  max-height: 200px;
  overflow: auto;
  overflow-x: hidden;
}
h2{
  font-family: $aero-font;
}
h3{
  font-family: Arial, Helvetica, sans-serif;
}
div {
  font-family: Arial, Helvetica, sans-serif;
  font-size: $font-sm;
}
.name{
  color: red;
}

.news {
  white-space: pre-wrap;
}
